html {
	-webkit-tap-highlight-color: transparent !important;
	scroll-behavior: smooth;
}

ul {
	margin: 0;
	padding-left: 0;
	list-style-type: none;
}

button {
	outline: 0 !important;
	border: 0;
}

a {
	text-decoration: none !important;
	display: inline-block;
	outline: 0 !important;
}

/* progress */

.fl-progress {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	background-color: #121618;
	opacity: 1;
	visibility: visible;
	transition-property: visibility, opacity;
	transition-duration: 1s;
	z-index: 100;
}

.fl-progress.fl-progress-is-ended {
	opacity: 0;
	visibility: hidden;
}

.fl-progress-copyright {
	background-color: #fa053c;
	color: #fff;
	padding: 1rem;
	font-family: Poppins, Verdana;
	position: absolute;
	bottom: 1rem;
	font-size: 14px;
	line-height: 24px;
	z-index: 10;
	letter-spacing: 2px;
	max-width: 80%;
	margin: 0 auto;
	text-align: center;
}

/* the-end-of-progress */



/* navbar */

.fl-navbar-collapse {  flex-grow: 0; }

/*-flash-navbar-form-*/
.fl-navbar-form {
	visibility: hidden;
	opacity: 0;
	transition: opacity 1s, visibility 1s;
}

.fl-navbar-form.fl-show { visibility:  visible; opacity: 1; }

/*-flash-navbar-form-toggler-*/
.fl-navbar-form-toggler {
	padding: 0;
	background: none;
	color: white;
	font-size: 23px !important;
	cursor: pointer;
	border: 0;
	outline: 0 !important;
	transition: all .5s;
}

@media (hover: hover) { .fl-navbar-form-toggler:hover { opacity: .8; } }

.fl-navbar-form-toggler:active { opacity: .8; }

.fl-navbar-form-toggler.fl-active {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}

/*-fl-absolute-navbar-collapse-*/
@media (max-width: 991.98px) {

	.fl-absolute-navbar-collapse {
		position: absolute !important;
		width: 100% !important;
		padding: 0 !important;
		top: 100% !important;
		left: 0 !important;
	}

}

/*-fl-fixed-navbar-*/
.fl-fixed-navbar,
.fl-fixed-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

@media (min-width: 992px) {

	/*-fl-fixed-navbar-*/
	.fl-lg-fixed-navbar,
	.fl-lg-fixed-header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}
	
}

/* the-end-of-navbar */


/* dropdown */

/*-fl-dropdown-hover-*/
@media (min-width: 768px) {

	.fl-dropdown-md-hover:hover > .dropdown-menu {
	    display: block;
	}

	.fl-dropdown-md-hover > .dropdown-toggle:active {
	    pointer-events: none;
	}

	.fl-dropdown-md-hover::after {
		content: " "; 
		background-color: transparent;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%; 
		height: 2rem;
	}

}

@media (min-width: 992px) {

	.fl-dropdown-lg-hover:hover > .dropdown-menu {
	    display: block;
	    top: 2rem;
	}

	.fl-dropdown-lg-hover > .dropdown-toggle:active {
	    pointer-events: none;
	}

	.fl-dropdown-lg-hover::after {
		content: " ";
		background-color: transparent;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%; 
		height: 1rem;
	}

}

/*-fl-not-dropdown-arrow-*/
.fl-not-dropdown-arrow > .nav-link::after {
	content: none;
}

/*-fl-dropdown-arrow-*/
.fl-dropdown-arrow > .nav-link::after {
	border: 0;
	content: "\f078";
	font-family: FontAwesome;
	color: var(--white);
	margin-left: .1rem;
	font-size: 8px;
	transition: all .3s;
	width: auto !important;
	height: auto !important;
}

@media (hover: hover) {

	.fl-dropdown-arrow:hover > .nav-link::after {
		color: inherit;
		transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
	}

}

.nav-link[aria-expanded="true"]::after {
	color: inherit;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}

/*-fl-dropdown-center-*/
.fl-dropdown-center {
	display: flex !important;
	justify-content: center !important;
}

.fl-dropdown-center > .dropdown-menu {
	left: auto !important;
}

/*-md-dropdown-*/
@media (max-width: 767px) {

	.fl-md-dropdown {
		flex-wrap: wrap !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	.fl-md-dropdown .dropdown-menu {
		position: static !important;
		display: block !important;
		width: 100% !important;
		max-height: 0;
		padding: 0;
		overflow: hidden;
		transition: max-height 1s;
		background-color: transparent;
		border: 0 !important;
	}

	.fl-md-dropdown .dropdown-menu.show {
		max-height: 2000px;
		padding: default;
	}

	.fl-md-dropdown .nav-link {
		position: relative;
		width: 100%;
		margin-left: 0 !important;
		margin-right: 0 !important;
		padding: 0 !important;
	}

	.fl-md-dropdown .nav-link::before {
		content: "\f054";
		font-family: fontAwesome;
		color: var(--white);
		font-size: 14px;
		float: right;
		transition: all .5s;
		border: 0 !important;
	}

	.fl-md-dropdown.show .nav-link:before {
		transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
	}

}

/*-lg-dropdown-*/
@media (max-width: 991px) {

	.fl-lg-dropdown {
		flex-wrap: wrap !important;
	}

	.fl-lg-dropdown .dropdown-menu {
		position: static !important;
		display: block !important;
		width: 100% !important;
		max-height: 0;
		padding: 0;
		overflow: hidden;
		transition: max-height 1s;
		background-color: transparent;
		border: 0 !important;
	}

	.fl-lg-dropdown .dropdown-menu.show {
		max-height: 2000px;
		padding: default;
	}

	.fl-lg-dropdown .nav-link {
		position: relative;
		width: 100%;
		margin-left: 0 !important;
		margin-right: 0 !important;
		padding: 0;
	}

	.fl-lg-dropdown .nav-link::before {
		content: "\f054";
		font-family: fontAwesome;
		color: var(--white);
		font-size: 14px;
		float: right;
		transition: all .5s;
		border: 0 !important;
	}

	.fl-lg-dropdown.show .nav-link:before {
		transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
	}

}

/* the-end-of-dropdown */



/* fl-navbar-toggler */

@media only screen and (max-width: 991.98px) {

	.fl-navbar-toggler {
		position: relative;
	    width: 30px;
	    height: 30px;
	    line-height: 40px;
	    cursor: pointer;
	    background-color: transparent;
	    border: none;
	    border-radius: 8px;
	    padding: 0 !important;
	    margin-top: 0 !important;
	    border: 0 !important;
	    outline: 0 !important;
	}

	.fl-navbar-toggler-line {
		position: relative;
	    display: block;
	    margin: auto;
	    transition: 0.3s all ease;
	} 

	.fl-navbar-toggler-line::before,
	.fl-navbar-toggler-line,
	.fl-navbar-toggler-line::after {
		width: 30px;
	    height: 3.5px;
	    background-color: white;
	    backface-visibility: hidden;
	    border-radius: 0;
	}

	.fl-navbar-toggler-line::before,
	.fl-navbar-toggler-line::after {
		content: "";
	    position: absolute;
	    left: 0;
	    top: -10px;
	    transition: all 0.3s ease;
	}   

	.fl-navbar-toggler-line::after {
		top: 10px;
	}

	@media (hover: hover) {
		.fl-navbar-toggler:hover .fl-navbar-toggler-line::before,
		.fl-navbar-toggler:hover .fl-navbar-toggler-line,
		.fl-navbar-toggler:hover .fl-navbar-toggler-line::after {
			background-color: #e3e2e2;
		}
	}	

	.fl-navbar-toggler:active .fl-navbar-toggler-line::before,
	.fl-navbar-toggler:active .fl-navbar-toggler-line,
	.fl-navbar-toggler:active .fl-navbar-toggler-line::after {
		background-color: #e3e2e2;
	}	

	.fl-navbar-toggler[aria-expanded="true"] .fl-navbar-toggler-line::before {
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
	    transform: rotate(45deg);
	    transform-origin: 50% 50%;
	    top: 0;
	}

	.fl-navbar-toggler[aria-expanded="true"]  .fl-navbar-toggler-line {
		background: transparent !important;
	    transition: background 0.1s ease;
	}

	.fl-navbar-toggler[aria-expanded="true"]  .fl-navbar-toggler-line::after {
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	    transform-origin: 50% 50%;
	    top: 0;
	}

}	

/* the-end-of-fl-navbar-toggler */ 



/* fl-hiding */ 

@media (max-width: 575.98px) { .fl-xs-hide { display: none !important; } }	

@media (max-width: 767.98px) { .fl-sm-hide { display: none !important; } }

@media (max-width: 991.98px) { .fl-md-hide { display: none !important; } }

@media (min-width: 992px) { .fl-lg-hide { display: none !important; } }

/* the-end-of-fl-hiding*/


