
header {
	z-index: 20;
}

/* progress */

.fl-progress { background-color: var(--white); }

/* the-end-of-progress */



/* top-box */

.top-box { position: relative; z-index: 15; }

/* the-end-of-top-box */



/* navbar */

/*-animation-*/
.navbar-hide { 
	visibility: hidden;
	margin-top: -100%;
}

.navbar-from-top {
	transition: margin-top 0.5s ease, visibility 0s ease;
	visibility: visible;
	margin-top: 0;
	background-color: var(--white);
	padding-top: 1.4rem;
	padding-bottom: 1.4rem;
	box-shadow: 0px 10px 20px var(--lightgrey2); 
}

/*-absolute-navbar-collapse-*/
@media (max-width: 991.98px) {

	.absolute-navbar-collapse {
		position: absolute !important;
		width: 75% !important;
		min-height: 100vh;
		max-height: 100vh;
		padding: 1rem 0 !important;
		top: 0 !important;
		left: -75% !important;
		opacity: 0;
		transition: left .5s, opacity .5s !important;
		overflow: auto !important;
	}

	.absolute-navbar-collapse.show {
		left: 0 !important;
		opacity: 1;
	}

	.fl-lg-dropdown .nav-link::before {
		content: "\f067";
		transform: rotate(0deg) !important;
		-webkit-transform: rotate(0deg) !important;
	}

	.fl-lg-dropdown.show .nav-link:before {
		content: "\f068";
	}

}

/* the-end-of-navbar */