/* head-slider */

.head-slider-section {
	height: 122vh;
}  

.head-slider {
	height: 100%;
}

.head-slide {
	height: 100%;
	position: relative; 
}  

@media (max-width: 991.98px) {

	.head-slide-2 .head-slide-text-container {
		margin-top: 2rem !important;
	}

	.head-slide-2 .head-slide-img {
		order: -1 !important;
		margin-top: 0 !important;
	}

}

/* the-end-of-head-slider */