
body {
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
}



/* navbar */

@media (max-width: 767.98px) {

	.navbar-collapse.show {
		padding-top: 2rem;
		border-top: 1px solid grey;
	}

	.navbar-brand {
		margin-left: .5rem;
	}

	.fl-navbar-toggler {
		margin-right: .5rem;
	}

}

/* the-end-of-navbar */