
/* hot-sales */

.hot-sales-title { transition: color .3s; }

.hot-sales-link:hover .hot-sales-title { color: var(--darkyellow); }

/* the-end-of-hot-sales */


/* our-menu */

.our-menu-img-container::before,
.our-menu-icon-container {
	opacity: 0;
	transition: opacity .5s;
}

.our-menu-item:hover .our-menu-img-container::before,
.our-menu-item:hover .our-menu-icon-container{ 
	opacity: 1; 
}

/* the-end-of-our-menu */