
html *::selection {
	background-color: var(--darkyellow);
	color: var(--black);
}

/* variables */

:root {
	--darkyellow: #ffc74f;
	--darkyellowWithOpacity: rgba(255,199,79, .7);
	--darkyellowWithOpacity2: rgba(255,199,79, .3);
	--darkyellowWithOpacity3: rgba(255,199,79, .8);
	--black: #121618;
	--blackWithOpacity: rgba(18,22,24,.5);
	--grey: #6f7478;
	--grey2: #1d2326;
}

/* the-end-of-variables */



/* flash-change-containers */

.fl-change-containers-btn-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}

.fl-change-containers-btn {
	background-color: #f2f2f2;
	color: #444;
	font-weight: 700;
	border: 1px solid #ddd;
	width: 50%;
	white-space: normal;
	padding: .8rem 1rem;
	cursor: pointer;
	font-size: 16px;
}

.fl-change-containers-btn:not(:last-child,:nth-child(2)) {
	border-right: 0;
}

.fl-change-containers-btn.fl-active {
	background-color: white;
	border-bottom: 0;
}

.fl-change-containers-item {
	display: none;
}

.fl-change-containers-item.fl-show {
	display: block;
}

@media (min-width: 992px) {

	.fl-change-containers-btn {
		width: 25%;
	}

	.fl-change-containers-btn:nth-child(2) {
		border-right: 1px;
	}

}

/* the-end-of-flash-change-containers */



/* fl-back-to-top-button */

.fl-back-to-top-btn {
	position: fixed;
	z-index: 4;
	bottom: -100%;
	right: 2rem;
	background-color: rgba(38,38,38, 0.5);
	color: #fafafa;
	transition-property: visibility, opacity, background-color, bottom;
	transition-duration: 0.5s;
	transition-timing-function: ease;
	border: 0;
	outline: 0 !important;
	padding: 1rem;
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	border-radius: 0;
	overflow: hidden;
}

.fl-back-to-top-btn.fl-show {
	bottom: 2rem;
	visibility: visible;
	opacity: 1;
}	

.fl-back-to-top-btn i {
	display: flex;
	display: -ms-flexbox;
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-ms-flex-pack: center;
	-ms-flex-align: center;
	justify-content: center;
	align-content: center;
	height: 90%;
	width: 90%;
	top: 5%;
	left: 5%;
	position: absolute;
	transition: top 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
}

.fl-back-to-top-btn i:last-child {
	top: 100%;
	opacity: 0;
}

.fl-back-to-top-btn:hover i:first-child {
	top: -100%; 
	opacity: 0;
}

.fl-back-to-top-btn:hover i:last-child {
	top: 5%;
	opacity: 1;
}

@media (hover: hover) {

	.fl-back-to-top-btn:hover {
		background-color: rgba(38,38,38, 0.8);
	}

}

.fl-back-to-top-btn:active {
	background-color: rgba(38,38,38, 1.0);
}

@media only screen and (min-width: 992px) {

	.fl-back-to-top-btn {
		padding: 1.5rem;
	}	

	.fl-back-to-top-btn.fl-show {	
		bottom: 5rem;
	}
	
}

/* the-end-of-fl-back-to-top-button */


/* animations */

/*-progress-*/
.progress-container {
	width: 60px;
	height: 60px;
	position: relative;
}

.progress-circle {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	animation-timing-function: ease;
  	animation-iteration-count: infinite;
  	animation-direction: alternate;
}

.progress-circle:first-child {
	background-color: var(--black);
	color: var(--darkorange);
	font-size: 30px;
	z-index: 3;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background: url('../images/icon-2.png') no-repeat center center / cover;
}

.progress-circle:nth-child(2) {
	background-color: var(--darkyellowWithOpacity);
	animation-name: progressCircle;
  	animation-duration: 1s;
  	z-index: 2;
}

.progress-circle:last-child {
	background-color: var(--darkyellowWithOpacity2);
	animation-name: progressLastCircle;
  	animation-duration: 1s;
}

@keyframes progressCircle {

  from { transform: scale(1); -webkit-transform: scale(1); }   
  to { transform: scale(1.3); -webkit-transform: scale(1.3); }

} 

@keyframes progressLastCircle {

  from { transform: scale(1); -webkit-transform: scale(1); }   
  to { transform: scale(1.7); -webkit-transform: scale(1.7); }

}

/* the-end-of-animations */



/* brands */

/*-brand-img-*/
.brand-img {
	width: 170px;
	height: auto;
}

/* the-end-of-brands */



/* bg-colors */

.bg-black { background-color: var(--black); }

/* the-end-of-bg-colors */



/* containers */

/*-container-2-*/
.container-2 {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

@media (min-width: 768px) {

	.container-2 {
		padding-left: 21%;
		padding-right: 21%;
	}

}

@media (min-width: 992px) {

	.container-2 {
		padding-left: 5.5%;
		padding-right: 5.5%;
	}

}

/*-container-3-*/
.container-3 {
	width: 100%;
	padding-left: 2rem;
	padding-right: 2rem;
}

@media (min-width: 992px) {

	.container-3 {
		padding-left: 11.5%;
		padding-right: 11.5%;
	}

}

/* the-end-of-containers */



/* texts */

.white-text { 
	color: var(--white); 
	font-size: 18px !important; 
	letter-spacing: 3px; 
	font-weight: 100;
	text-align: center; 
}

@media (min-width: 992px) {  .white-text { text-align: left; } }

.black-text,
.black-text-2,
.black-text-3,
.black-text-4 {  
	color: var(--black);
	font-size: 17px !important;
	margin: 0;
	text-align: center;
}

.black-text-2 { 
	font-size: 14px !important; 
	letter-spacing: 3px; 
}

.black-text-3 {
	font-size: 20px !important;
	color: var(--blackWithOpacity);
}

.black-text-4 { color: var(--blackWithOpacity); }

@media (min-width: 992px) { .black-text-2, .black-text-3, .black-text-4 { text-align: left; } }

.grey-text {  
	color: lightgrey;
	font-size: 17px !important;
	margin: 0;
	text-align: center;
}

.grey-text-2 {color: var(--grey); }

/* the-end-of-texts */



/* letter-spacing */

.letter-space-1 { letter-spacing: 2px; }

/* the-end-of-letter-spacing */



/* links */

.white-link {
	text-decoration: none !important;
}

.white-link * {
	transition: color .3s;
}

.white-link:hover .white-link-text {
	color: var(--darkyellow);
}

/*-white-link-2-*/
.white-link-2 {
	color: var(--white) !important;
	letter-spacing: 2px;
	font-size: 14px;
	text-transform: capitalize;
	transition: color .3s;
	position: relative;
}

@media (hover: hover) {

	.white-link-2:hover {
		color: var(--darkyellow) !important;
	}

}

.dropdown.show .white-link-2::before,
.dropdown.show .white-link-2 {
	color: var(--darkyellow) !important;
}

@media (min-width: 768px) {

	.white-link-2.active::after {
		content: " ";
		position: absolute;
		bottom: 0;
		left: calc(50% - 5px);
		height: 2px;
		background-color: var(--white);
		width: 10px;
	}

}

/*-white-link-3-*/
.white-link-3 {
	color: var(--white);
	font-size: 17px !important;
	text-align: left !important;
	transition: color .3s;
	width: 100%;
	background-color: transparent !important;
	margin: 0 !important;
	padding: .4rem 0;
	text-indent: 2rem;
}

.white-link-3:last-of-type {
	border-bottom: 0;
}

.white-link-3:hover,
.white-link-3.active {
	color: var(--darkyellow);
}

@media (min-width: 768px) {

	.white-link-3 {
		border-bottom: 1px solid rgba(128,130,131, .2);
		text-indent: 0;
	}

}

.transparent-link { text-decoration: none !important; width: 100%; display: block; }

/* the-end-of-links */



/* lists */

/*-list-1-*/
.list-1 {
	display: flex;
	flex-flow: row wrap !important;
	justify-content: space-between; !important;
	align-content: center !important;
	align-items: center !important;
}

@media (min-width: 768px) {

	.list-1 { 
		justify-content: center !important; 
	}

}

@media (min-width: 1200px) {

	.list-1 { 
		justify-content: space-between !important; 
	}

}


/*-list-2-*/
.list-2 {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-flow: row wrap;
	width: 83%;
	margin: auto;
}

@media (max-width: 991.98px) { 
	.list-2 > *:not(:first-child) { margin-top: 2rem; }
	.list-2 > * { width: 100%; }
}

@media (min-width: 992px) { .list-2 { width: 75%; justify-content: space-between; } }

/*-list-3-*/
.list-3 {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.list-3 > *:not(:last-child) { margin-right: 1.5rem; }

@media (max-width: 400px) { 

	.list-3 > * { width: 70%; margin-right: 0 !important; } 

	.list-3 >*:not(:first-child) { margin-top: 1.5rem; }

}

@media (min-width: 992px) { .list-3 { justify-content: flex-start; } }

/*-list-4-*/
.list-4 {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-direction: column;
}

.list-4 >*:not(:first-child) { margin-top: 2rem; }

.list-4 * { text-align: center !important; }

/*-list-5-*/
.list-5 {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
	flex-flow: row wrap;
	margin-top: 2rem;
	text-align: center;
}

.list-5 > * { margin-top: 2rem; width: 100%; }

@media (min-width: 992px) { .list-5 > * { width: 31%; } }

/*-list-6-*/
.list-6 {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
	flex-flow: row wrap;
	text-align: center;
}

.list-6 > * { margin-top: 4rem; width: 100%; }

@media (min-width: 576px) { .list-6 > * { width: 48%; } }

@media (min-width: 992px) { .list-6 > * { width: 23%; } }

/*-list-7-*/
.list-7 {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
	flex-flow: row wrap;
}

.list-7 > * { margin-top: 4rem; width: 100%; }

@media (min-width: 992px) { .list-7 > * { width: 48%; } }

/*-list-8-*/
.list-8 { text-align: center; }

.list-8 > *:not(:first-child) { margin-left: 1.5vw; }

.list-8 > *:not(:last-child) { margin-right: 1.5vw; }

.list-8 > * { display: inline-block; margin-top: 1rem; }

/*-list-9-*/
.list-9 {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
	flex-flow: row wrap;
	margin-top: .5rem;
}

.list-9 { margin-top: 1rem; }

.list-9 > *:not(:last-child) { margin-right: 1.2rem; } 

/* the-end-of-lists */



/* list-offsets */

/*-list-offset-*/
@media (max-width: 767px) { .list-offset > *:not(:first-child) { margin-top: .7rem; } }

@media (min-width: 768px) { .list-offset > *:not(:last-child) { margin-right: 1.3rem; } }

/* the-end-of-list-offsets */



/* boxes */

/*-yellow-box-*/
.yellow-box {
	background-color: var(--darkyellow);
	color: var(--black);
	width: 20px;
	height: 20px;
	font-size: 10px;
	line-height: 20px;
	text-align: center;
	display: block;
	border-radius: 50%;
}

/*-absolute-box-*/
.absolute-box {
	position: absolute;
	top: 0;
	right: 0;
}

/*-grey-box-*/
@media (min-width: 768px) {

	.grey-box {
		background-color: var(--grey2) !important;
		padding: .9rem 1.7rem !important;
		border-radius: 0;
		min-width: 220px;
		left: auto;
		top: 3.5rem;
	}

}	

/* the-end-of-boxes */



/* arrows */

/*-top-arrow-*/
@media (min-width: 768px) {

	.top-arrow {
		position: relative;
	}

	.top-arrow::before {
		content: "";
		position: absolute;
		width: 0; 
		height: 0;
		bottom: 100% !important;
		left: 0;
		right: 0;
		margin-right: auto;
		margin-left: auto;
		z-index: 5; 
		border-left: 0.4rem solid transparent;
		border-right: 0.4rem solid transparent;
		border-bottom: 0.4rem solid var(--grey2);
	}

	.top-arrow-left::before {
		margin-left: 1.5rem;
	}

	.top-arrow-right::before {
		margin-right: 1.5rem;
	}	

}

/*-arrow-top/bottom-*/
.arrow-top,
.arrow-bottom {
	position: relative;
	z-index: 2;
}

.arrow-top::before,
.arrow-bottom::after {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 15px;
	background-image: url("../images/arrow-down.png");
	background-position: center top;
	background-repeat: repeat-x;
	background-size:15px;
	z-index: 15;
}

.arrow-bottom::after {
	top: initial;
	bottom: 0;
	background-image: url("../images/arrow-up.png");
	background-position: center bottom;
}

/* the-end-of-arrows */



/* bg-images */

.bg-img { background: url(../images/bg-img.jpg) no-repeat center center / cover; }

.bg-img-2 { background: url(../images/head-slider/img-04.jpg) no-repeat center center / cover; }

.bg-img-3 { background: url(../images/bg-img-02.png) no-repeat center center / cover; }

.bg-img-4 { background: url(../images/bg-img-03.jpg) no-repeat center center / cover; }

.bg-img-5 { background: url(../images/bg-img-04.jpg) no-repeat center center / cover; }

/* the-end-of-bg-images */



/* images */

.img { width: 50vw; height: 50vw; }

@media (min-width: 992px) { .img { width: 35vw; height: 35vw; } }

.img-2 { width: 70vw; height: 70vw; }

@media (min-width: 576px) { .img-2 { width: 33vw; height: 33vw; } }

@media (min-width: 992px) { .img-2 { width: 13vw; height: 13vw; } }

.img-3 { width: 45px; height: 45px; border-radius: 50%; }

.img-absolute-container {
	position: absolute;
	top: calc(50% - 20px);
	left: calc(50% - 20px);
	width: 40px;
	height: 46px;
}

.img-absolute-container img { width: 100%; height: 100%; }

/* the-end-of-images */



/* img-containers */

/*-img-container-2-*/
.img-container-2 { width: 70vw; height: 70vw; overflow: hidden; }

.img-container-2 img { width: 100%; height: 100%; }

@media (min-width: 576px) { .img-container-2 { width: 33vw; height: 33vw; } }

@media (min-width: 992px) { .img-container-2 { width: 13vw; height: 13vw; } }

/* the-end-of-img-containers */



/* titles */

/*-white-title-*/
.white-title {
	color: white;
	text-align: center;
	letter-spacing: 5px;
	font-size: 30px !important;
	line-height: 35px !important;
	margin: 0;
}

@media (min-width: 992px) { .white-title { text-align: left; font-size: 60px !important; line-height: 65px !important; } }

/*-white-title-2-*/
.white-title-2 {
	color: white;
	text-align: center;
	letter-spacing: 3px;
	font-size: 20px !important;
	margin: 0;
}

@media (min-width: 992px) { .white-title-2 { text-align: left; font-size: 25px !important; } }

/*-black-title-*/
.black-title,
.black-title-2,
.black-title-3 {
	color: var(--black);
	font-size: 20px;
	letter-spacing: 3px;
	margin: 0;
	text-align: center;
}

.black-title-2 { font-size: 25px; }

@media (min-width: 992px) { .black-title-2 { font-size: 35px; text-align: left; } }

.black-title-3 { font-weight: bold; font-size: 17px; }

/*-white-title-3-*/
.white-title-3,
.white-title-4 {
	color: var(--white);
	text-align: center;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 18px !important;
	margin: 0;
}

.white-title-4 {
	font-size: 23px !important;
}

/*-white-title-5-*/
.white-title-5 {
	color: white;
	text-align: center;
	letter-spacing: 5px;
	font-size: 30px !important;
	line-height: 40px !important;
	margin: 0;
}

@media (min-width: 992px) { .white-title { text-align: left; font-size: 50px !important; line-height: 60px !important; } }

/* the-end-of-titles */



/* borders */

.white-border-bottom { border-bottom: 3px solid var(--white); }

.black-border { border: 2px solid var(--black); }

.grey-border-bottom { border-bottom: 1px solid var(--grey2); }

/* the-end-of-borders*/



/* buttons */

/*-transparent-btn-*/
.transparent-btn {
	color: var(--white);
	border: 1px solid var(--white);
	text-align: center;
	padding: .5rem 1.2rem;
	font-size: 13px !important;
	letter-spacing: 2px;
	transition: color .3s, border-color .3s;
	text-decoration: none !important;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.transparent-btn i {
	margin-left: .5rem;
	font-size: 10px !important;
}

.transparent-btn:hover {
	color: var(--darkyellow);
	border-color: var(--darkyellow);
}

/*-yellow-btn-*/
.yellow-btn,
.yellow-btn-2 {
	background-color: var(--darkyellow);
	color: var(--black);
	border: 1px solid var(--darkyellow);
	text-align: center;
	padding: .5rem 1.2rem;
	font-size: 13px !important;
	letter-spacing: 2px;
	transition: color .3s, background-color .3s;
	text-decoration: none !important;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.yellow-btn-2 {
	background-color: var(--darkyellow);
	border-color: var(--black);
}

.yellow-btn i,
.yellow-btn-2 i {
	margin-left: .5rem;
	font-size: 10px !important;
}

.yellow-btn:hover {
	color: var(--darkyellow);
	background-color: transparent;
}

.yellow-btn-2:hover {
	color: var(--white);
	background-color: var(--black);
}

/*-white-btn-*/
.white-btn {
	color: var(--white);
	background-color: transparent !important;
	border: 0 !important;
	padding: 0 .5rem;
	font-weight: bold; 
	font-size: 18px;
	letter-spacing: 2px;
	transition: color .3s;
	width: auto;
}

.white-btn:hover,
.white-btn.fl-active {
	color: var(--darkyellow) !important;
}

/*-yellow-iconic-btn-*/
.yellow-iconic-btn {
	background-color: var(--darkyellow);
	color: var(--black);
	padding: calc(1rem + 1vw);
	transition: background-color .3s;
	right: calc(1rem + 2vw);
}

.yellow-iconic-btn.fl-show {
	bottom: calc(1rem + 2vw);;
}

.yellow-iconic-btn:hover {
	background-color: var(--darkyellowWithOpacity) !important;
}	

.yellow-iconic-btn i {
	font-size: 25px !important;
}

/* the-end-of-buttons */



/* slider-arrows */

/*-slider-arrows-*/
.slider-arrows .flash-simple-slider-arrow {
    background-color: transparent !important;
    opacity: 1 !important;
    font-size: 30px !important;
    line-height: 30px !important;
    top: calc(50% - 15px);
    transition: opacity .3s;
    left: calc(1rem + 2vw);
    color: var(--white);
}

@media (hover: hover) {

	.slider-arrows .flash-simple-slider-arrow:hover {
		opacity: .4 !important;
	}

}

.slider-arrows .flash-simple-slider-arrow:active {
	opacity: .4 !important;
}	

.slider-arrows .flash-simple-slider-next {
    left: initial;
    right: calc(1rem + 2vw);
}

@media (min-width: 992px) {

	.slider-arrows .flash-simple-slider-arrow {
	    opacity: 0;
	    transition: opacity .3s;
	}

	.slider-arrows:hover .flash-simple-slider-arrow {
	    opacity: 1;
	}  

}	

/* the-end-of-slider-arrows */



/* overlays */

/*-yellow-overlay-*/
.yellow-overlay {
	position: relative;
	border-radius: 50%;
	overflow: hidden;
}

.yellow-overlay::before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--darkyellowWithOpacity3);
}

/* the-end-of-overlays */



/* paddings */

.padding-y-1 { padding-top: 1.5rem !important; padding-bottom: 6rem !important; }

.padding-y-2 { padding-top: 6rem !important; padding-bottom: 6rem !important; }

.padding-y-3 { padding-top: 2rem !important; padding-bottom: 6rem !important; }

.padding-y-4 { padding-top: 6rem !important; padding-bottom: 6rem !important; }

.padding-y-5 { padding-top: 4rem !important; padding-bottom: 4rem !important; }

/* paddings */



/* margins */

.margin-r-1 { margin-right: 1.5rem !important; }

.margin-t-1 { margin-top: 2.2rem !important; }

/* the-end-of-margins */



/* widths */

@media (min-width: 992px) { .width-lg-60 { width: 60% !important; } } 

/* the-end-of-widths */



/* forms */

/*-form-*/
.form {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
	width: 100%;
	margin: auto;
}

.form-title { width: 100%; }

.form-input { width: 60%; }

.form-submit { width: 40%; }

@media (min-width: 768px) { 

	.form { width: 80%; } 

	.form-input { width: 50%; }

	.form-submit { width: 13%; }

}

/*-black-input-*/
.black-input {
	border: 2px solid var(--grey2);
	padding: 1rem 1.5rem;
	outline: 0 !important;
	box-shadow: none !important;
	background-color: var(--black);
	color: var(--white);
	letter-spacing: 2px;
	font-size: 14px !important;
	line-height: 14px !important;
	font-family: Verdana;
}

.black-input::-moz-placeholder { color: grey; }

.black-input::placeholder { color: grey; }

/*-grey-submit-*/
.grey-submit {
	background-color: var(--grey2);
	color: var(--white);
	font-size: 16px !important;
	text-align: center;
	padding: 1rem 1.5rem;
	line-height: 14px !important;
	font-size: 14px !important;
	font-family: Verdana;
	transition: background-color .3s, color .3s;
	outline: 0 !important;
	border: 0 !important;
	cursor: pointer;
	letter-spacing: 2px;
}

.grey-submit:hover {
	background-color: var(--darkyellow) !important;
	color: var(--black) !important;
}

/* the-end-of-forms */



/* opacities */

.opacity-1 { opacity: .3; }

/* the-end-of-opacities */







